.header{
    background-color:rgb(127, 224, 208) ;
    width: 100%;
    height: 80px;
}
.logo_upwork{
    width: 90px;
    height: 60px;
    margin-left: 5%;
}
.input-group{
    width: 20%;
    height: 30px;
}
#input_search{
    margin-top: -3%;
    width: 300px;
    height: 20px;
    margin-left: 18%;
    border-radius: 100px;
}
.fa-search{
    margin-left: 1%;
    margin-top: 4%;
}
.head_titles{
    width: 600px;
    height:50px ;
    margin-left: 40%;
    margin-top: -2.5%;
    text-align: center;
    font-size: 20px;
}
.profile_img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.row_1{
    width: 100%;
    margin-top: 3%;
    height: 365px;
}
.column_1{
    height: 380px;
    text-align: center;
}
.fa-circle{
    /* background-color: white;
    border-radius: 20px; 
    padding: 2%; */
    width: 10px;
    height: 10px;
}

#input_search_2{
    width: 650px;
    height: 20px;
    border-radius: 100px;
}
.column_2{
    height: 375px;
    padding: 2%;
    margin-top: -2.5%;
}
.col_2_main_div{
    width: 100%;
    height: 375px;
    margin-top: 5%;
}
.btn_menu{
    border-radius: 30px!important;
    width: 55px;
    height: 35px;
}
.column_3{
    height: 365px;
    display: inline-block;
}
.my_profile_title{
    margin-left: 15%;
    margin-top: -10%;
}
/* page_2_style */
.row_2_page{
    margin-top: 5%;
    width: 100%;
}
.column_2_1{
    height: 370px;
    margin-left: 15%;
}
.title_links{
    width: 200px;
    height: 300px;
    margin-left: 5%;
}
.chiziq{
    width: 3px;
    height: 30px;
    background-color: green;
    margin-top: -90%;
}
.column_2_2{
    height: 375px;
}
.contact_info{
    width: 600px;
    height: 320px;
    background-color: rgb(211, 208, 208);
    padding: 5%;
}
.account_p_answer{
    opacity: 70%;
    margin-top: -1%;
}
.contact_info_2{
    width: 600px;
    height: 100px;
    background-color: rgb(211, 208, 208);
    padding: 1%;
    margin-top: 2%;
}
/* page_3 */
.naw1{
    width: 100%;
    height: 100px;
}
.row_left{
    height:500px;
    background-color: gray;
}
.img_mail{
    width: 150px;
    height: 150px;
}
.mail{
    height: 400px;
    margin: 100px;
    text-align: center;
}
.time{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    text-align: center;
    display: inline-block;
}
.time2{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    text-align: center;
    display: inline-block;
  
}.time3{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    text-align: center;
    display: inline-block;
    margin-top: 100px;
}
.icon{
    background-color: rgb(235, 238, 238);
    border-radius: 30px;
    padding: 5px;
    
}
.icon2{
    background-color: rgb(235, 238, 238);
    border-radius: 10px;
    padding: 5px;
}.icon3{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 5px;
}
/* my_job */

.contracts{
width: 900px;
height: 400px;
background-color: rgb(239, 241, 241);
margin-left: 200px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.h {
    margin-left: 200px;
}
.search1{
    width: 500px;
}
.jon1{
    margin-left: 500px;
    margin-top: -380px;
}
.TEXT1{
    text-align: center;
}
.foot2{
    text-align: center;
    background-color: rgb(245, 245, 245);
}
.foot_icon{
    height: 100px;
    margin-left: 300px;
    display: inline-block;
}